@use '../../../styles/media-query-related' as *;

.create_listing__container {
  @include default-container-width;
}

.listing__image_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.listing__image {
  width: 13rem;
  height: 15rem;
  object-fit: cover;
}

.listing__image_flex {
  display: flex;
  flex-direction: column;
}
