@use '../../styles/utilities' as *;


.button {
  border: 0;
  padding: 0.6rem 1rem;
  cursor: pointer;
  color: $text-dark;
  border-radius: 0.2rem;
  &:disabled {
    background-color: $grey-clr;
    cursor: not-allowed;
  }
}

.button__primary {
  // all: unset;
  // padding: 0.35rem 0.8rem;
  // border: 0.13rem solid $grey-clr;
  // border-radius: 0.4rem;
  // background-color: white;
  // color: black;
  @extend .button;
  color: $clr-white;
  background-color: $main-clr-lighten-1;
}

.button__secondary {
  @extend .button;
  background-color: turquoise;
}
