// Colors
$cta-clr: rgb(255, 178, 0);
$grey-clr: rgb(140, 140, 140);
$primary-clr: rgb(255, 255, 255);
$primary-clr-2: rgb(39, 123, 192);
$secondary-clr: rgb(255, 244, 207);

// Font General
$small-font-size: 0.73rem;
$title-font-size: 1.125rem;
$regular-font-size: 0.75rem;
$logo-font-size: 1rem;
