// Colors
// $cta-clr: rgb(255, 178, 0);
$cta-clr: #3665f3;
$cta-clr-accent1: rgb(254, 203, 84);
$grey-clr: rgb(140, 140, 140);
$text-dark: #4d4d4d;
$primary-clr: rgb(255, 255, 255);
$primary-clr-2: rgb(39, 123, 192);
$secondary-clr: rgb(255, 244, 207);

$main-clr: #3665f3;
$main-clr-darken-1: #203d92;
$main-clr-darken-2: #0b1431;
$main-clr-lighten-1: #5e84f5;
$main-clr-lighten-2: #afc1fa;
$main-clr-lighten-3: #d7e0fd;
$main-clr-lighten-4: #ebf0fe;
$clr-white: #ffff;

$clr-warning: #ff4a4a;
$clr-warning-backgound: #feefbc;
$clr-warning-title: #cc9f4e;
$clr-warning-text: #b38c45;
$clr-warning-border: #febd03;

$clr-danger-background: #ffd5d5;
$clr-danger-text: #564646;
$clr-danger-border: #ffa4a4;

$clr-success-background: #daf2d6;
$clr-success-text: #4bb289;
$clr-success-border: #0f9c6d;

// Font General
$small-font-size: 0.73rem;
$title-font-size: 1.125rem;
$regular-font-size: 0.75rem;
$logo-font-size: 1rem;
