@use '../../styles/media-query-related' as *;
@use '../../styles/utilities' as *;
@use '../../styles/buttons' as *;

.register__container {
  @include default-container-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  // row-gap: 1.5rem;
  // border: 1px solid rgb(238, 238, 238);
  // border-radius: 0.3rem;
  // padding: 1rem;
}

.register__main__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 0.3rem;
  padding: 1rem;
}

.form__title {
  width: 60%;
  display: block;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.form__container {
  display: flex;
  flex-direction: column
}

.submit_btn {
  @include cta-button;
  font-size: 0.9rem;
  // height: 2rem;
  // padding-top: 2rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}

.error__container {
  padding: 1.5rem;
  background: rgba(224, 92, 92, 0.2);
  border-radius: .5rem;
}

.error__text {
  color: rgba(255, 84, 84, 0.9);
  margin-bottom: 0.5rem;
}

.error__message {
  color: rgba(255, 84, 84, 0.9);
}
